:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-input {
    width: 100%;
    display: block;
    border: 1px solid rgba(169, 8, 142, 0.182);
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 14px;
}

.btn {
    width: 100%;
    display: block;
    border: none;
    border-radius: 4px;
    background-color:rgba(117, 6, 145, 0.938);
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}